* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background: #111;
    color: white;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
}

.name {
    font-family: "Comfortaa", sans-serif;
    font-size: 28px;
    font-weight: bold;

}

.nav ul {
    align-items: center;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #ffb3a7;
}

.intro {
    background: linear-gradient(to bottom, rgb(152, 21, 21), #000 80%);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
}

.intro .intro-text {
    color: white;
    text-align: left;
    max-width: 450px;
}

.intro .intro-text h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.intro .intro-text h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    opacity: 0.8;
}

.intro .intro-text p {
    font-size: 1rem;
    font-family: "Comfortaa", sans-serif;
    line-height: 1.6;
}

.intro .intro-img img {
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.about .about-img img{
    max-width: 260px;
    object-fit: cover;
    border-radius: 10%;
}

.about{
    background: linear-gradient(to bottom, #000  , rgb(152, 21, 21) 80% );
    padding: 6rem 2rem;
}

.about .about-me{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
}

.about .about-me h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}

.about .about-me p{
    max-width: 600px;
    font-size: 1rem;
    font-family: "Comfortaa", sans-serif;
    line-height: 1.6;
}

.about .about-me .btn{
    background: linear-gradient(145deg, #1a0000, #2a0000);
    color: white;
    width: 125px;
    padding: 0.9rem 1.2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease;
    font-family: "Comfortaa", sans-serif;
}

.about .about-me .btn:hover{
    transform: translateY(-5px);
    border-color: #333;
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.4);
    background: linear-gradient(145deg, #2a0000, #400000);
}

.grid-container{
    width: 100%;
    max-width: 1100px;
    gap: 4rem;
    margin: 0 auto;
}

.skills{
    background: linear-gradient(to bottom, rgb(152, 21, 21), #000 80%);
}

.skills .my-skills{
    color: white;
    gap: 1.5rem;
}

.skills .my-skills h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    margin-bottom: 1rem;
}

.skills .my-skills h2{
    font-size: 1.4rem;
    font-family: "Comfortaa", sans-serif;  
    opacity: 0.8;
    margin-bottom: 3rem;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:1.5rem;
}

.skill{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    font-family: "Comfortaa", sans-serif;    
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(150, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}

.skill:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.4);
    background: linear-gradient(145deg, #2a0000, #400000); 
    border-color: #ff4d4d;
    background: rgba(255, 80, 80, 0.1);
}

.services{
    background: linear-gradient(to bottom, #000  , rgb(152, 21, 21) 80% );
    padding: 6rem 2rem;
    color: white;
}

.services h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    margin-bottom: 3rem;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}

.service{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 1.5rem 0.8rem;
    transition: 0.3s ease;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.1), 
    0 0 15px rgba(255,0,0,0.2);
}

.service img{
    max-width: 150px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    filter: brightness(85%);
}
.service h2{
    margin: 1rem 0rem;
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;  
    opacity: 0.8;
}

.service p{
    font-size: 0.8rem;
    font-family: "Comfortaa", sans-serif;
}

.service:hover{
    transform: translateY(-8px);
    background-color: #400000;
    border-color: #ffb3a7;
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.4);    
}
.service:hover h2 {
    text-shadow: 0 0 6px rgba(255,255,255,0.6);
}